.swiper-container {
    width: 1000px;
    height: 800px;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.swiper-slide {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    z-index: 999;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

/* Transferred styles from .swiper-slide */
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
    filter: blur(100);
}

.swiper-slide::after {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.swiper-slide-active::after {
    background: none;
}

.swiper-slide > div {
    text-align: left;
    display: none;
    opacity: 0;
}

.swiper-slide-active div {
    display: block;
    opacity: 1;
}

.swiper-slide h2 {
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}

.swiper-slide h2::after {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    height: 2px;
    background: linear-gradient(#dfc500, #da4008);
}

.swiper-slide-active h2::after {
    animation: line 0.5 linear forwards;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    text-shadow: 0 0 3px #000;
    box-shadow: 0 0 10px #da4008;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.swiper-slide h2 {
    color: #da4008;
}